<% layout("/layouts/boilerplate.ejs") -%>

    <body>
        <div class="inventaryMenu row mt-3">
            <div class="invenHeading col-3">
                <a href="/inventory"
                    class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">My
                    Inventory </a>
                <a href="/inventory/<%=category%>"
                    class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                    / <%=category%> </a>
            </div>
            <div class="inveSearch col-6 offset-1">
                <form action="/inventory/<%=category%>" class="input-group mb-3" method="get">
                    <input type="text" class="form-control" <% if(search) { %> value=<%=search%>
                        <% } %> name="search" placeholder="Product Name">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                </form>
            </div>
        </div>
        <div class="inventoryTable">
            <table class="table table-primary table-hover">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">ProductId</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Category</th>
                    </tr>
                </thead>
                <tbody>
                    <% for( item of Items ){ %>
                        <tr>
                            <td>
                                <%= item.productName %>
                            </td>
                            <td>
                                <%= item.productId %>
                            </td>
                            <td>
                                <%= item.quantity %>
                            </td>
                            <td>
                                <%= item.category %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </body>